<!DOCTYPE html>
<html>
<title>Twitter App</title>
<head>
     <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> 
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/tweetstyle.css">
    <script src="https://code.angularjs.org/1.5.0-rc.2/angular-route.min.js"></script>
    <script src="../angularjs/homepage.js"></script>
  </head>

<body ng-app="tweetApp" ng-controller="mainController" >

    <div id="header-bar" class="row homeheader"  style="font-weight:bold" ;>
        
        <div id="home"class= "col-md-offset- col-sm-4" align="left">
            <form action="/homepage" method="get">
              <input type="submit" value="Home"  class="btn btn-success"/>
            </form>        
        </div> <!-- Close home div-->

        <div id="icon" class= "col-md-offset-0 col-sm-4" align="center">
          <img src="twitter-128.png" width="40x" height="40px" />
        </div> <!-- Close icon div-->

        <div id="logout"class= "col-md-offset-0 col-sm-4" align="right">
            <form action="/logout" method="post">
              <input type="submit" value="Logout"  class="btn btn-success"/>
            </form>        
        </div> <!-- Close logout div--> 

    </div>  <!-- Close header-bar  div-->

    <h3 align="center">Hi "<%= username %>",&nbsp Welcome to Twitter! </h3>
    <p ng-hide=true id="username"><%= username%></p>
    <div id="main-section" class="row" >
        <div id="userprofile" class= "col-md-offset- col-sm-3" ng-init="userProfile()" align="left">
          <div class="userprofile well" >
            <b><a href="/users/<%= username %>"><tun><%= username %></tun></a></b></br></br>
            <gr>Tweets:</gr> <a href="/users/<%= username %>"><bl>{{tweetCount}}</bl></a></br></br>
            <gr>Following:</gr> <a href="/<%= username %>/following"><bl>{{followingCount}}</bl></a></br></br>
            <gr>Followers:</gr> <a href="/<%= username %>/followers"><bl>{{followerCount}}</bl></a></br></br>        
            <a href="/editprofile"><gr>Edit Profile</gr></a></br>
          </div> 
        </div> <!-- Close userprofile  div--> 

        <div id="tweetfeeds"class= "col-md-offset- col-sm-6" align="left">
          
          <form ng-Submit="postTweet();">
            <textarea required class="form-control" maxlength="140" rows="2" 
            placeholder="What's happening?" ng-model="tweet_text"></textarea>
            <input class="btn submit-btn pull-right" type="submit" value="Tweet!" /></br>
          </form> <!--  form end for psoting tweets -->

           <div id="tweet-stream">
              <h4>Tweets </h4>
                  <!-- <div  ng-repeat="singleUser in multiUser.tweets"> -->
                  <div class="well" ng-repeat="t in multiUser.tweets ">
                <b><a href="/users/{{multiUser.username}}">{{multiUser.username}}</a></b>
                <gr> @{{multiUser.username}}</gr>
                <p>{{t.text}}</p>   
                <small class="pull-right">{{t.time | date:"h:mma 'on' MMM d, y"}}</small>
                  </div>
                <!-- </div> -->
          </div>  <!-- Close tweet-stream div--> 

        </div> <!-- Close tweet feed  div--> 

        <div id="serachtweets"class= "col-md-offset- col-sm-3" align="left">
          <form ng-Submit="searchTweets();">
            <!-- <input required type="text" class="form-control" placeholder="Your name" ng-model="username" /> -->
            <textarea required class="form-control" maxlength="40" rows="2" placeholder="Search Tweets" ng-model="searchKeyword"></textarea>
            <input class="btn submit-btn pull-right" type="submit" value="Search" /></br>
        </form>
        </div> <!-- Close search filed   div--> 
    
    </div> <!-- Close main-section  filed   div--> 

  </body>
</html>
